@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --header-font-size: 12.5vh;
  --header-height: 25vh;
  --nav-height: 60px;
  --fab-size: var(--nav-height);
  --fab-position: relative;
  --fab-top: calc((var(--fab-size) / 2) * -1);
  --fab-bottom: auto;
  --fab-right: auto;
  --fab-margin-bottom: calc(var(--fab-size) * -1);
  --fab-margin-left: calc(100vw - var(--fab-size) - 25px);
  --table-column-paddingX: 14px;
  --table-column-paddingY: 6px;
  --table-column-font: 16px;
  --box-flex: flex-start;
  --modal-size: 80;
  --modal-radius: 6px;
  --modal-content-space: calc((var(--modal-size) * 1vh) - 152px);
  --toast-position: 14px;
  --toast-position-right: auto;
  --toast-width: 300px;
  --spinner-offset: 145;
  --spinner-offset-min: 20;
  --spinner-duration: 2400ms;
  --spinner-size: 65px;
  /* theme */
  --theme-dark: #303F9F;
  --theme-accent: #FF5722;
  --theme-light: #C5CAE9;
  --theme-text: #212121;
  --theme-primary: #3f51B5;
  --theme-secondary: #757575;
  --theme-white: #FFFFFF;
  --theme-devider: #BDBDBD;
}

@media only screen and (min-device-width: 1024px) {
  .conf {
    --modal-size: 30;
    --modal-content-space: calc((var(--modal-size) * 1vh) - 152px);
  }

  .slim {
    --header-font-size: 60px;
    --header-height: 15vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  :root {
    --header-font-size: 60px;
    --header-height: 15vh;
    --nav-height: 60px;
    --box-flex: flex-start;
    --modal-size: 80;
    --modal-radius: 6px;
  }

  .conf {
    --modal-size: 40;
    --modal-content-space: calc((var(--modal-size) * 1vh) - 152px);
  }
}

@media only screen and (max-device-width: 768px) {
  :root {
    --header-font-size: 60px;
    --header-height: 15vh;
    --nav-height: 50px;
    --fab-size: 60px;
    --fab-position: fixed;
    --fab-top: auto;
    --fab-bottom: 25px;
    --fab-right: 25px;
    --fab-margin-bottom: 0px;
    --fab-margin-left: 0px;
    --box-flex: space-around;
    --modal-size: 100;
    --modal-radius: 0px;
    --modal-content-space: auto;
    --toast-position: 14px;
    --toast-position-right: var(--toast-position);
    --toast-width: auto;
  }
}

body {
  background: #e2e1e0;
  font-family: 'Open Sans';
  margin: 0;
}

header {
  height: var(--header-height);
  width: 100vw;
  background: var(--theme-white);
  text-align: center;
  line-height: var(--header-height);
  font-size: var(--header-font-size);
}

.blue {
  color: var(--theme-dark);
}

.orange {
  color: var(--theme-accent);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

nav {
  padding: 0px 25px;
  background: var(--theme-primary);
  height: var(--nav-height);
  line-height: var(--nav-height);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: var(--theme-white);
}

/* MATERIAL FAB */

.fab {
  position: var(--fab-position);
  cursor: pointer;
  text-align: center;
  background-color: var(--theme-accent);
  color: var(--theme-white);
  /* calculated from --fab-size */
  width: var(--fab-size);
  height: var(--fab-size);
  top: var(--fab-top);
  bottom: var(--fab-bottom);
  right: var(--fab-right);
  margin-bottom: var(--fab-margin-bottom);
  margin-left: var(--fab-margin-left);
  border-radius: calc(var(--fab-size) / 2);
  font-size: calc((var(--fab-size) / 8) * 5);
  line-height: var(--fab-size);
}

/* SHADOW DEFINITION */

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow-hover:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.box-container {
  display: flex;
  justify-content: var(--box-flex);
  flex-wrap: wrap;
  padding: 25px;
}

.boxes {
  cursor: pointer;
  min-width: 225px;
  height: 90px;
  border-radius: 2px;
  background: var(--theme-white);
  color: var(--theme-secondary);
  padding: 0 0 10px 10px;
  margin: 10px;
}

.boxes .name {
  padding: 5px 0 10px 0;
  font-size: 1.5em;
  color: var(--theme-text);
  pointer-events: none;
}

.boxes span {
  pointer-events: none;
}

/* TABLE VIEW */
.table-container {
  display: flex;
}

.table-column {
  display: inline-block;
  box-sizing: border-box;
  overflow: auto;
  min-width: 250px;
  height: calc(100vh - var(--header-height) - var(--nav-height) - var(--table-column-paddingY));
  border-right: solid 1px var(--theme-devider);
  padding-top: var(--table-column-paddingY);
}

.table-column .list-head {
  padding: var(--table-column-paddingY) var(--table-column-paddingX);
  font-size: var(--table-column-font);
  cursor: pointer;
}

.table-column .list-head:hover,
.table-column .list-head.active {
  color: var(--theme-white);
  background: var(--theme-accent);
}

.table-column .list-inner .list-item {
  padding: var(--table-column-paddingY) calc(var(--table-column-paddingX)*2);
  overflow: hidden;
  font-size: var(--table-column-font);
  cursor: pointer;
}

.table-column .list-inner .list-item:hover,
.table-column .list-inner .list-item.active {
  background: var(--theme-light);
}

.table-data {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  flex-grow: 1;
  max-width: calc(100vw - 250px - 1px);
  height: calc(100vh - var(--header-height) - var(--nav-height) - var(--table-column-paddingY));
  padding-top: var(--table-column-paddingY);
}

.table-data .mat-input {
  min-height: 82px;
}

.table-data .mat-input [name=query] {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: -3px;
  margin-top: 15px;
  padding-top: 10px;
}

/* MODAL WINDOW */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal .backdrop {
  background: rgba(46, 46, 46, 0.6);
}

.modal .content {
  position: fixed;
  top: calc((100vh - (var(--modal-size) * 1vh))/2);
  left: calc((100vw - (var(--modal-size) * 1vw))/2);
  width: calc((var(--modal-size) * 1vw));
  height: calc((var(--modal-size) * 1vh));
  border-radius: var(--modal-radius);
  background: var(--theme-white);
  color: var(--theme-secondary);
}

.modal .content .header {
  height: 50px;
  line-height: 50px;
  color: var(--theme-text);
  border-bottom: 1px solid var(--theme-devider);
  font-size: 34px;
  text-align: center;
}

.modal .content .central {
  height: var(--modal-content-space);
  color: var(--theme-secondary);
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.modal .content .footer {
  height: 50px;
  line-height: 50px;
  color: var(--theme-dark);
  border-top: 1px solid var(--theme-devider);
  padding: 0 23px;
  text-align: right;
}

.modal .content .footer button {
  cursor: pointer;
  color: var(--theme-dark);
  border: none;
  background: none;
  height: 50px;
  font-size: 18px;
}

/* MATERIAL INPUT */

.mat-input {
  display: inline-block;
  position: relative;
  margin: 20px;
}

.mat-input input,
.mat-input textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 300px;
  border: 1px solid var(--theme-devider);
  border-radius: 4px;
  resize: none;
}

.mat-input input:focus,
.mat-input textarea:focus {
  outline: none;
}

.mat-input label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

.mat-input input:focus~label,
.mat-input textarea:focus~label,
.mat-input.float label {
  top: -10px;
  font-size: 14px;
  color: var(--theme-dark);
  background: var(--theme-white);
}

.mat-input .bar {
  display: block;
}

.mat-input .bar:before,
.mat-input .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--theme-dark);
  transition: 0.2s ease all;
}

.mat-input .bar:before {
  left: 50%;
}

.mat-input .bar:after {
  right: 50%;
}

.mat-input input:focus~.bar:before,
.mat-input textarea:focus~.bar:before,
.mat-input input:focus~.bar:after,
.mat-input textarea:focus~.bar:after {
  width: 50%;
}

/* MATERIAL TOAST */

.mat-toast {
  display: inline-block;
  position: fixed;
  color: #fff;
  bottom: var(--toast-position);
  left: var(--toast-position);
  right: var(--toast-position-right);
  background: #323232;
  border-radius: 4px;
  width: var(--toast-width);
  ;
  padding: 15px 20px;
  transition: transform 0.3s cubic-bezier(.25, .8, .25, 1);
  transform: translateY(calc(100% + 14px));
}

.mat-toast.show {
  transform: translateY(0);
}

/* MATERIAL LOADER */

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.loading .backdrop {
  background: rgba(209, 209, 209, 0.6);
}

.mat-spinner {
  display: inline-block;
  width: var(--spinner-size);
  height: var(--spinner-size);
}

.mat-spinner svg {
  animation: rotator var(--spinner-duration) linear infinite;
}

.mat-spinner circle {
  fill: none;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dasharray: var(--spinner-offset);
  transform-origin: center;
  animation: dash var(--spinner-duration) ease-in-out infinite, colors calc(var(--spinner-duration)*4) ease-in-out infinite;
}

/* MATERIAL TABLE */

.table-body {
  margin: 0 auto;
  overflow: auto;
  max-width: 100%;
  flex-grow: 1;
}

table.mat-table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

table.mat-table td,
table.mat-table th{
  padding: 15px 10px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

table.mat-table tr:nth-child(even) {
  background-color: var(--theme-white);
}

table.mat-table tr:nth-child(odd) {
  background-color: var(--theme-light);
}

table.mat-table thead tr:nth-child(even),
table.mat-table thead tr:nth-child(odd) {
  background-color: var(--theme-white);
}

table.mat-table thead tr th {
  position: sticky;
  top: 0;
  background-color: var(--theme-white);
}

/* ANIMATIONS */

@keyframes colors {
  0% {
    stroke: #4285F4;
  }

  25% {
    stroke: #DE3E35;
  }

  50% {
    stroke: #F7C223;
  }

  75% {
    stroke: #1B9A59;
  }

  100% {
    stroke: #4285F4;
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: var(--spinner-offset);
  }

  50% {
    stroke-dashoffset: var(--spinner-offset-min);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: var(--spinner-offset);
    transform: rotate(450deg);
  }
}

/* HIDDEN SHOULD ALWAYS HIDE */

[hidden] {
  display: none;
}